*
{
    font-family: Arial, fantasy;
}
.main_block
{
    background: linear-gradient(90deg,#40E0D0,#7FFFD4);
    padding: 10px;
    border-bottom: 9px double #E0FFFF;
    border-left: 9px double #E0FFFF;
    border-right: 9px double #E0FFFF;
    box-shadow: 0 0 4px #E0FFFF;

}
.main_top {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 3%;
    background: linear-gradient(90deg,#7FFFD4,#40E0D0);
    text-align: center;
    vertical-align: middle;
    box-shadow: 0 0 10px #000;
    font-size: large;
    font-weight: normal;
}
.content
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.avatars {
    box-shadow: 0 0 4px #7FFFD4;
    border: 2px solid #7FFFD4;
    background: linear-gradient(90deg,#7FFFD4,#40E0D0);;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 100px 10px;

}
.avatars::after {
    content: "";
    clear: both;
    display: table;
}
.chat
{
    overflow-y: scroll;
    padding-bottom: 90px;
    height: 60%;
    width: 100%;
}
.avatars img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

.avatars span {
    font-size: 20px;
    margin-right: 15px;
}

.send_message
{
    position: fixed;
    width: 100%;
    border-top: 9px double #E0FFFF;
    background: linear-gradient(90deg,#40E0D0,#7FFFD4);
    top: 88%;
    padding: 5px;
}
.send_message input
{
    margin: 5px;
}